<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <div th:replace="~{fragments/common :: settings}"></div>
</head>
<body>
<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">XTWITTER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">Сообщения</a>
                </li>
                <div sec:authorize="isAuthenticated()">
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link" href="/users">Пользователи</a>
                        </li>
                    </div>
                </div>
            </ul>
            <div sec:authorize="!isAuthenticated()">
                <a class="navbar-text" href="/login">Гость</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="navbar-text" sec:authentication="name" href="/users/profile">name</a>
            </div>
            <div class="ml-3 mr-3" sec:authorize="isAuthenticated()" th:insert="~{fragments/logout :: copy}"></div>
        </div>
    </nav>
</div>
</body>
</html>