<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <div th:replace="~{fragments/common :: settings}"></div>
</head>
<body>
<div th:replace="~{fragments/navbar :: navigation}"></div>
<main class="container mt-5">

    <div class="form-row">
        <div class="form-group col-md-6">
            <form method="get" action="/main" class="form-inline">
                <input type="text" name="filter" class="form-control" placeholder="Введите тэг" th:value="${filter}">
                <button class="btn btn-primary ml-2" type="submit">Найти</button>
            </form>
        </div>
    </div>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Добавить новый твит
    </a>

    <div class="collapse mt-2" id="collapseExample">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="form-group">
                    <input class="form-control" type="text" name="text" placeholder="Введите сообщение">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="tag" placeholder="Тэг">
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input id="customFile" type="file" name="file">
                        <label class="custom-file-label" for="customFile">Выберите файл</label>
                    </div>
                </div>
                <button class="btn btn-primary ml-2" type="submit">Добавить</button>
            </div>
        </form>
    </div>

    <div>Список сообщений</div>

    <!--    <div th:each="message: ${messages}">
            <b th:text="${message.id}">id</b>
            <span th:text="${message.text}">text</span>
            <i th:text="${message.tag}">tag</i>
            <strong th:text="${message.getAuthorName()}">name</strong>
            <div th:if="${message.filename}">
                <img th:src="@{/image/{filename}(filename=${message.filename})}">
            </div>
        </div>-->
    <div class="card-columns">
        <div th:each="message: ${messages}" style="text-align: center">
            <div class="card" style="width: 18rem;">
                <div th:if="${message.filename}">
                    <img class="card-img-top" th:src="@{/image/{filename}(filename=${message.filename})}"
                         alt="Card image cap">
                </div>

                <span th:text="${message.text}">text</span>
                <i th:text="'#' + ${message.tag}">tag</i>

                <div class="card-footer text-muted" th:text="${message.getAuthorName()}">
                    автор
                </div>

            </div>
        </div>
    </div>

</main>
<div th:insert="~{fragments/common :: footer}"></div>
</body>
</html>