<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <div th:replace="~{fragments/common :: settings}"></div>
</head>
<body>
<div th:replace="~{fragments/navbar :: navigation}"></div>
<h1>Редактор пользователя</h1>
<form action="/users/update" method="post">
    <input type="text" th:value="${user.username}" name="username">
    <div th:each="role: ${roles}">
        <label th:text="${role}" th:remove="tag" for="checkRole"> </label>
        <input type="checkbox" th:name="${role}" id="checkRole"
               th:checked="${user.roles.contains(role)}">
    </div>
    <input type="hidden" th:value="${user.id}" name="userId">
    <button type="submit">Обновить</button>
</form>
<div th:insert="~{fragments/common :: footer}"></div>
</body>
</html>